$background: #333333;
$main_bg: #1E1E1E;
$footer_bg: #007ACC;
$sidebar_bg: #252525;
$sidebar_hover: #2a2d2e;

$text: #D4D4D4;
$error: #EA4646;

// links
$link: #7587A6;
$link_underline: #7587A6;
$followed_link: #9B859D;
$followed_link_underline: #AFC4DB;

$btn: #2A2D2E;
$btn_hover: #333333;

$textarea_highlight: #282828;
