@mixin breakpoint-up($size) {
	@if $size==xs {
		@content;
	}

	@if $size==sm {
		@media (min-width: $breakpoint_sm) {
			@content;
		}
	}

	@if $size==md {
		@media (min-width: $breakpoint_md) {
			@content;
		}
	}

	@if $size==lg {
		@media (min-width: $breakpoint_lg) {
			@content;
		}
	}

	@if $size==xl {
		@media (min-width: $breakpoint_xl) {
			@content;
		}
	}
}
