$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$nav_collapsed_height: 60px;
$nav_width: 80px;
$nav_margin: 20px;
$main_padding_v: 20px;
$main_padding_h: 20px;
$footer_height: calc(1rem + 10px);

$dt_width: 100px;
$dd_margin: 20px;

$font_size: 16px;
$code_font_size: 14px / 16px * 1em;

$form_row_margin: 1rem;
$form_label_margin: .5rem;
$input_border_radius: 0.25rem;
$input_padding_h: .75rem;
$input_padding_v: .375rem;
$input_checkbox_margin: 1.5em;

$message_caret_size: .75rem;
