body {
	color: $text;
	background-color: $background;
	margin: 0;
	padding-bottom: $footer_height;
}

nav {
	width: 100%;
	height: $nav_collapsed_height;
	position: sticky;
	top: 0;
	background-color: $background;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	z-index: 1;

	div {
		display: flex;

		* {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: $nav_collapsed_height;
			background: none;
			text-decoration: none;
			clear: both;
			margin: 0 $nav_margin;
		}

		a {
			cursor: pointer;
		}
	}
}

main {
	width: 100%;
	height: calc(100vh - #{$nav_collapsed_height} - #{$footer_height});
	background-color: $main_bg;
	overflow-x: hidden;
	padding: $main_padding_v $main_padding_h;
	display: flex;
}

footer {
	height: $footer_height;
	background-color: $footer_bg;
	display: flex;
	padding: 0 10px;
	align-items: center;
	overflow-x: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}

@include breakpoint-up(sm) {
	body {
		padding-left: calc((100vw - #{$breakpoint_sm}) * 0.5);
	}

	nav {
		width: #{$breakpoint_sm};
		max-width: 100vw;
	}

	main {
		width: #{$breakpoint_sm};
		max-width: 100vw;
	}
}

@include breakpoint-up(md) {
	body {
		padding-left: calc((100vw - #{$breakpoint_md}) * 0.5);
	}

	nav {
		width: #{$breakpoint_md};
	}

	main {
		width: #{$breakpoint_md};
	}

	footer {
		margin-left: calc((100vw - #{$breakpoint_md}) * -0.5);
	}
}

@include breakpoint-up(lg) {
	body {
		padding-left: calc((100vw - #{$breakpoint_lg}) * 0.5);
	}

	nav {
		width: #{$breakpoint_lg};
	}

	main {
		width: #{$breakpoint_lg};
	}

	footer {
		margin-left: calc((100vw - #{$breakpoint_lg}) * -0.5);
	}
}
