@import 'def/_colors';
@import 'def/_sizes';
@import 'def/_media';

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
@import url(https://cdn.jsdelivr.net/npm/boxicons@2.0.3/css/boxicons.min.css);

* {
	box-sizing: border-box;
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: $font_size;
}

@import '_base_layout';

.flex-grow {
	flex-grow: 1;
}

.header {
	font-weight: bold;
}

form {
	div {
		margin-bottom: $form_row_margin;

		label {
			display: inline-block;
			margin-bottom: $form_label_margin;
		}

		input {
			display: block;
			width: 100%;
			padding: $input_padding_v $input_padding_h;
			border-radius: $input_border_radius;
		}
	}

	div.form-checkbox {
		padding-left: $input_checkbox_margin;
		display: block;

		label {
			display: inline;
		}

		input {
			display: inline;
			float: left;
			margin-left: -$input_checkbox_margin;
			width: auto;
		}
	}
}

button {
	display: inline-block;
	padding: $input_padding_v $input_padding_h;
	border-radius: $input_border_radius;
	border: 1px solid $btn;
	background-color: $btn;
	cursor: pointer;
	color: inherit;

	i {
		font-size: 1rem;
	}
}

button:hover {
	background-color: $btn_hover;
}

input, textarea {
	background-color: inherit;
	color: inherit;
}

.gpt-game {
	display: flex;
	width: 100%;

	.sidebar {
		background-color: $sidebar_bg;
		width: 25%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-content: center;

		.separator {
			margin: 5px;
			background-color: $text;
			height: 1px;
		}
	}

	.main {
		width: 75%;
		margin-left: $main_padding_h;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.player {
	padding: 10px;
	display: flex;
	align-items: center;

	i:nth-of-type(1) {
		width: 1rem;
	}

	span {
		flex-grow: 1;
	}

	i:nth-of-type(2) {
		font-size: 1.5rem;
		cursor: pointer;
	}

	&:hover {
		background-color: $sidebar_hover;
	}

	&.drop-before {
		border-top: 1px solid $text;

		* {
			pointer-events: none;
		}
	}

	&.drop-after {
		border-bottom: 1px solid $text;

		* {
			pointer-events: none;
		}
	}
}

.player-leader {
	font-weight: bold;
}

.player-dead {
	span {
		color: darken($text, 30%);
		text-decoration-line: line-through;
	}
}

.player-draggable {
	cursor: pointer;
}

.message-history {
	padding: 0 $message_caret_size;
	display: flex;
	flex-direction: column;
	overflow: hidden auto;
}

.message-row {
	position: relative;
	padding-bottom: 5px;
	overflow-wrap: anywhere;
}

.message {
	display: flex;
	flex-direction: column;
	background-color: $background;
	padding: 5px 10px;
}

.message-left {
	float: left;
	border-radius: 0 .375rem .375rem .375rem;

	&::before {
		content: " ";
		width: $message_caret_size;
		height: $message_caret_size;
		position: absolute;
		top: 0;
		left: -$message_caret_size;
		background-image: linear-gradient(to top right, transparent 0%, transparent 49%, $background 50%, $background 100%);
	}
}

.message-right {
	float: right;
	border-radius: .375rem 0 .375rem .375rem;

	&::before {
		content: " ";
		width: $message_caret_size;
		height: $message_caret_size;
		position: absolute;
		top: 0;
		right: -$message_caret_size;
		background-image: linear-gradient(to top left, transparent 0%, transparent 49%, $background 50%, $background 100%);
	}
}

.message-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.message-title-name {
	padding-right: 1rem;
	font-weight: bold;
}

.message-title-date {
	color: darken($text, 30%);
}

.message-player-highlight {
	font-weight: bold;
}

.message-notice {
	display: flex;
	justify-content: center;

	div {
		height: 2rem;
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $background;
		padding: 5px 10px;
	}
}

.bottom-panel {
	display: flex;
	flex-direction: column;
}

.input-box {
	height: 5rem;
	position: relative;

	textarea {
		width: 100%;
		height: 100%;
		resize: none;
		border-top: 2px solid $textarea_highlight;
		border-bottom: 2px solid $textarea_highlight;
		border-left: none;
		border-right: none;
		outline: none;
		font-size: inherit;
		font-family: inherit;
		margin: 0;
		padding-right: 4rem;
	}

	.input-submit {
		position: absolute;
		top: 1rem;
		right: 0;
		height: 3rem;
		width: 3rem;

		button {
			width: 100%;
			height: 100%;

			i {
				font-size: 1.5rem;
			}
		}
	}
}

.start-game {
	display: flex;
	justify-content: center;
}

.status-line {
	display: inline-block;
	font-size: 0.8rem;
}

.error {
	color: $error;
}

#home {
	h1 {
		text-align: center;
	}
}

a,
a:visited {
	color: $link;
	text-decoration: underline;
	text-decoration-color: $link_underline;
}

footer {

	a,
	a:visited {
		color: $text;
		text-decoration-color: $text;
	}
}

.image-rounded {
	border-radius: 50%;
}

.text-center {
	text-align: center;
}

dl {
	dt {
		float: left;
		clear: left;
		text-align: right;
		width: $dt_width;
		font-weight: 700;
	}

	dd {
		margin-left: calc(#{$dt_width} + #{$dd_margin});
	}
}

.share {
	>a {
		text-align: unset;
		display: inline-block;
		text-decoration: none;
	}

	i {
		color: $background;
		background-color: $text;
		padding: 4px;
		font-size: 1.6em;
		border-radius: 4px;
	}
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post-footer {
	display: flex;
	justify-content: right;
	align-items: center;

	>p {
		margin: 0 5px;
	}
}

p.info {
	font-size: 0.8rem;
	margin-top: 5px;

	span {
		display: block;
		margin-right: 20px;

		i {
			margin-right: 0.5em;
		}
	}

	@include breakpoint-up(md) {
		span {
			display: inline;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 20px 0;

	+p.info {
		margin-top: -15px;
		margin-bottom: 20px;
	}
}

code,
pre {
	font-size: $code_font_size;
	font-family: 'Fira Code', monospace;
	font-feature-settings: "calt"1;
	font-variant-ligatures: normal;
	border-color: $background;
	border-style: solid;
	border-radius: 3px;
}

code {
	border-width: 1px 0;
}

pre {
	border-width: 1px;
	overflow-x: auto;
	padding: 4px 2px;

	>code {
		border-width: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	code {
		border-width: 0;
	}
}
